/* You can add global styles to this file, and also import other style files */

a {
  transition: 0.5s !important;
  cursor: pointer;
  color: #5126d2 !important;
}

a:hover {
  transition: 0.5s !important;
  color: #6041bb !important;
}
.btn-primary {
  background-color: #714cdf;
  border-color: #714cdf;
  transition: 0.6s;
}

.btn-primary:hover {
  background-color: #5126d2;
  border-color: #5126d2;
}

.bg-primary {
  background-color: #714cdf !important;
  color: #dbebfb !important;
}

.card {
  border: none;
}

.form-control {
  color: #1c1c1c !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #adabc6 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
