.bg-containerDark {
  background-color: #282a38;
}

a {
  color: #dbebfb;
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  color: #5cb7f3 !important;
}

.answer-button {
  padding: 0.6rem 1.4rem;
  border-radius: 0.2rem;
}

.border-radius {
  padding: 0.8rem 2rem;
  border-radius: 28px;
}

button {
  outline: none;
  border: none;
  background: none;
}

.ask-button {
  margin: auto 0;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
}
.ask-button:hover {
  color: #fff !important;
}

.custom-button {
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  color: #fff !important;
  background-size: 200% auto;
  transition: 1s;
  border-radius: 0.2rem;
}

.edit-button {
  padding: 0 0.8rem;
}

a:hover {
  background-position: right;
}

button:hover {
  background-position: right;
}

button .farHeart:hover {
  color: #4a00e0;
}

button .fasHeart {
  color: #4a00e0;
}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
}

.content {
  height: 100%;
}

.card-footer {
  border: none !important;
}

.answers-bg {
  background-color: #414141;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  transition-duration: 1s;
}
.answers {
  line-height: 50px;
}

.answers-bg:hover {
  background-color: #5126d2;
  transition-duration: 1s;
  transition: cubic-bezier();
}

.counter-bg {
  background-color: #fff;
  color: #282a38;
  border: 0.01rem #838383 solid;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}



