<!--  -->
<!--  -->
<!-- URL Parameter == TRUE -->
<!--  -->
<!--  -->
<div *ngIf="isParam">
  <div class="container">
    <div class="blog-post mt-4">
      <div class="row">
        <div class="col-md-10">
          <h2 class="blog-post-title">{{ question?.title }}</h2>
          <p class="blog-post-meta text-muted fs-6">
            {{ question?.issued_On | date: "longDate" }} by
            <a [routerLink]="['/']">{{ question?.owner?.name }}</a>
          </p>
        </div>
        <div class="col-md-2" *ngIf="isQuesByCurrentUser">
          <a class="ask-button" href="/{{ question?._id }}/editQuestion"
            >Edit Question</a
          >
        </div>
      </div>
      <p>
        {{ question?.text
        }}<sup *ngIf="question?.isEdited" class="edited">(edited)</sup>
      </p>

      <div class="row">
        <div class="col-md-2" *ngIf="!isQuesByCurrentUser">
          <button class="d-inline me-2">
            <fa-icon
              *ngIf="!isLiked"
              class="farHeart"
              [icon]="farHeart"
              (click)="likeButton(question._id)"
            ></fa-icon>
            <fa-icon
              *ngIf="isLikedByUser"
              class="fasHeart"
              [icon]="fasHeart"
              (click)="unlikeButton(question._id)"
            ></fa-icon>
          </button>
          <div class="d-inline">{{ numberOfLikes }} likes</div>
        </div>
      </div>
      <hr />
      <div class="border-bottom pb-3 mb-4">
        <h3 class="pb-3 mx-auto d-inline">Answers</h3>
        <div class="d-inline ms-5" *ngIf="!isAnsByCurrentUser">
          <button
            type="button"
            routerLink="/questions/{{ question?._id }}/giveAnswer"
            class="custom-button answer-button"
          >
            <fa-icon [icon]="faEdit"></fa-icon>
            Answer the question?
          </button>
        </div>
      </div>

      <div *ngIf="!isAns" class="no-answers text-center my-5 p-lg-3">
        <h3 class="mb-3">No answers found</h3>
        <div *ngIf="!isAnsByCurrentUser">
          <button
            type="button"
            routerLink="/questions/{{ question?._id }}/giveAnswer"
            class="custom-button answer-button border-radius mb-4"
          >
            <fa-icon [icon]="faEdit"></fa-icon>
            Answer
          </button>
        </div>
        <hr />
      </div>
      <div *ngFor="let answer of question?.answers">
        <div class="card mt-2 border">
          <div class="card-body">
            <div class="row">
              <div class="col-md-10">
                <div class="card-title fw-bold">
                  Answered on {{ answer.issued_On | date: "longDate" }}
                </div>
                <p class="text-muted ms-2">by {{ answer.author?.name }}</p>
              </div>
              <div class="col-md-2">
                <div *ngIf="answer?.isAnsByCurrentUser">
                  <button
                    type="button"
                    routerLink="/question/{{ question?._id }}/{{
                      answer._id
                    }}/editAnswer"
                    class="custom-button edit-button border-radius mb-4"
                  >
                    <fa-icon [icon]="faEdit"></fa-icon>
                    Edit
                  </button>
                </div>
              </div>
            </div>
            <p class="my-2">
              {{ answer.text
              }}<sup *ngIf="answer.isEdited" class="edited">(edited)</sup>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<!--  -->
<!-- URL Parameter == FALSE -->
<!--  -->
<!--  -->
<div *ngIf="!isParam">
  <div class="container">
    <div class="row content">
      <div class="col-md-12 m-3">
        <div class="card">
          <h3 class="mt-2 mb-4">All Questions</h3>
        </div>
        <div class="m-2 border-bottom" *ngFor="let question of questions">
          <div class="card mt-2 border">
            <div class="card-body">
              <div class="row">
                <div class="col-md-8">
                  <h5 class="card-title fw-bold">
                    <a class="" routerLink="/questions/{{ question._id }}">
                      {{ question.title }}
                    </a>
                  </h5>
                  <p class="card-text muted overflow-information">
                    {{ question.text
                    }}<sup *ngIf="question?.isEdited" class="edited"
                      >(edited)</sup
                    >
                  </p>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col">
                      <a class="" routerLink="/questions/{{ question._id }}">
                        <div class="answers-bg">
                          <span class="answers">
                            {{ question.answers | commaSeperator }}
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <div class="counter-bg">
                        <span class="answers">{{ question.likes }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col mt-2">answers</div>
                    <div class="col mt-2 ps-4">likes</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted mt-4">
              <strong
                ><cite title="username">{{ question.owner.name }}</cite></strong
              >
              <span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Asked on
                {{ question.issued_On | date: "longDate" }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
