<!--  -->
<!--  -->
<!-- URL Parameter == TRUE -->
<!--  -->
<!--  -->
<div *ngIf="isParam">
  <div class="container">
    <div class="blog-post mt-4">
      <h2 class="blog-post-title">{{ question?.title }}</h2>
      <p class="blog-post-meta text-muted fs-6">
        {{ question?.issued_On | date: "longDate" }} by
        <a [routerLink]="['/']">{{ question?.owner?.name }}</a>
      </p>
      <hr />
      <p>
        {{ question?.text }}
      </p>
      <hr />
      <div class="border-bottom pb-3 mb-4">
        <h3 class="pb-3 mx-auto d-inline">Answers</h3>
        <div class="d-inline ms-5" *ngIf="!isAnsByCurrentUser">
          <button
            type="button"
            routerLink="/questions/{{ question?._id }}/giveAnswer"
            class="answer-button"
          >
            <fa-icon [icon]="faEdit"></fa-icon>
            Answer the question?
          </button>
        </div>
      </div>

      <div *ngIf="!isAns" class="no-answers text-center my-5 p-lg-3">
        <h3 class="mb-3">No answers found</h3>
        <button
          type="button"
          routerLink="/questions/{{ question?._id }}/giveAnswer"
          class="answer-button border-radius mb-4"
        >
          <fa-icon [icon]="faEdit"></fa-icon>
          Answer
        </button>
        <hr />
      </div>

      <div class="answers">
        <div *ngFor="let answer of question?.answers">
          <h5>
            <a>{{ answer.author.name }}</a>
          </h5>
          <p class="text-muted">
            Answered on {{ answer.issued_On | date: "longDate" }}
          </p>
          <p>
            {{ answer.text }}
          </p>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<!--  -->
<!-- URL Parameter == FALSE -->
<!--  -->
<!--  -->
<div *ngIf="!isParam">
  <h1 class="my-5">Explore</h1>
  <div class="col-lg-8" *ngFor="let question of questions">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title mb-2 text-uppercase">
          <a class="" routerLink="/questions/{{ question._id }}">{{
            question.title
          }}</a>
        </h5>
        <!-- <div *ngFor="let owner of Questions.owner"> -->
        <!-- <h6 class="text-muted">{{ question.owner.name }}</h6> -->
        <!-- </div> -->
        <p class="card-text">{{ question.text }}</p>
      </div>
      <div class="card-footer bg-primary text-muted">
        Posted by -
        <u
          ><cite title="username">{{ question.owner.name }} </cite></u
        >
      </div>
    </div>
  </div>
</div>
