<div class="container">
  <div class="row">
    <div
      class="
        col-lg-12
        position-relative
        overflow-hidden
        p-4 p-md-5
        m-md-3
        text-center
        bg-dark
      "
    >
      <div class="p-lg-5 mx-auto my-5">
        <div class="col-md-5 mx-auto p-lg-3 my-3">
          <h1 class="display-4 font-weight-normal">Have a question?</h1>
          <h2 class="text-muted h2">Ask Here!</h2>
        </div>
        <div class="col">
          <div class="form-group">
            <form>
              <input
                class="search-box w-25"
                type="search"
                placeholder="Search"
              />
              <button
                routerLink="askQuestion"
                routerLinkActive="router-link-active"
                class="search-button w-15"
                type="button"
              >
                Search
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8" *ngFor="let question of Questions">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title text-uppercase">
            <a class="" routerLink="/questions/{{ question._id }}">{{
              question.title
            }}</a>
          </h5>
          <!-- <div *ngFor="let owner of Questions.owner"> -->
          <!-- <h6 class="text-muted">{{ question.owner.name }}</h6> -->
          <!-- </div> -->
          <p class="card-text">{{ question.text }}</p>
        </div>
        <div class="card-footer bg-primary text-muted">
          Posted by -
          <u
            ><cite title="username">{{ question.owner.name }} </cite></u
          >
        </div>
      </div>
    </div>
  </div>
</div>
