.bg-containerDark {
  background-color: #282a38;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  color: #5cb7f3;
}

.search-box {
  padding: 1rem;
  border-bottom-left-radius: 28px;
  border-top-left-radius: 28px;
}

input,
button {
  outline: none;
  border: none;
}

.w-15 {
  width: 15% !important;
}

.search-button {
  padding: 1rem;
  border-bottom-right-radius: 28px;
  border-top-right-radius: 28px;
  /* background-color: rgb(51, 51, 51); */
  background: linear-gradient(to right, rgb(74, 0, 224), rgb(142, 45, 226));
  color: #fff;
  background-size: 200% auto;
  transition: 1s;
}

button:hover {
  background-position: right;
}
/* .search-button:hover {
  transition: ease-in-out;
  transition-duration: 2s;
  background: linear-gradient(to right, rgb(255, 126, 95), rgb(254, 180, 123));
} */
button {
  outline: none;
  border: none;
}

.ask-button {
  margin: auto 0;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.2rem;
  /* background-color: rgb(51, 51, 51); */
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  color: #fff;
  background-size: 200% auto;
  transition: 1s;
}

button:hover {
  background-position: right;
}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.content {
  height: 100%;
}

.card-footer {
  border: none !important;
}

.answers-bg {
  background-color: #414141;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  transition-duration: 1s;
}
.answers {
  line-height: 50px;
}

.answers-bg:hover {
  background-color: #5126d2;
  transition-duration: 1s;
  transition: cubic-bezier();
}

.counter-bg {
  background-color: #fff;
  color: #282a38;
  border: 0.01rem #838383 solid;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.overflow-information {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 560px;
}
