<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="form-sigin-heading">Create a new account in</h1>
      <p class="lead">
        Already a member? Please <a routerLink="/login">login</a>instead.
      </p>
      <form [formGroup]="form" (submit)="submit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            name="name"
            placeholder="Enter name"
            required
          />
        </div>

        <div class="form-group">
          <label for="email">Email Address</label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            name="email"
            placeholder="Enter email"
            required
          />
        </div>

        <div class="form-group">
          <label for="username">Username</label>
          <input
            formControlName="username"
            type="text"
            class="form-control"
            name="username"
            placeholder="Username"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="form-group">
          <label for="bio">Personal Bio</label>
          <textarea
            formControlName="bio"
            type="text"
            class="form-control"
            name="bio"
            placeholder="Personal Bio"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Sign up!</button>
      </form>
    </div>
  </div>
</div>
