<div class="container">
  <div class="row">
    <div class="col-md-6 card p-5 mx-auto">
      <h1 class="form-sigin-heading text-center mb-5">Create a new Account</h1>
      <form [formGroup]="form" (submit)="submit()">
        <div class="form-group">
          <label for="name" class="mb-2">Name</label>
          <input
            formControlName="name"
            type="text"
            class="form-control mb-4"
            name="name"
            placeholder="Enter name"
            required
          />
          <span
            class="text-danger"
            *ngIf="
              registerFormControl.name.touched &&
              registerFormControl.name.errors?.required
            "
            >Name is required</span
          >
        </div>
        <div class="form-group">
          <label for="username" class="mb-2">Username</label>
          <input
            formControlName="username"
            type="text"
            class="form-control mb-4"
            name="username"
            placeholder="Username"
            required
          /><span
            class="text-danger"
            *ngIf="
              registerFormControl.username.touched &&
              registerFormControl.username.errors?.required
            "
            >Username is required</span
          >
        </div>
        <div class="form-group">
          <label for="email" class="mb-2">Email Address</label>
          <input
            formControlName="email"
            type="email"
            class="form-control mb-4"
            name="email"
            placeholder="Enter email"
            required
          /><span
            class="text-danger"
            *ngIf="
              registerFormControl.email.touched &&
              registerFormControl.email.errors?.required
            "
            >Enter an email Address</span
          ><span
            class="text-danger"
            *ngIf="
              registerFormControl.email.touched &&
              registerFormControl.email.errors?.email
            "
            >Enter a valid email Address</span
          >
        </div>
        <div class="form-group">
          <label for="password" class="mb-2">Password</label>
          <input
            formControlName="password"
            type="password"
            class="form-control mb-4"
            name="password"
            placeholder="Password"
            required
          />
          <span
            class="text-danger"
            *ngIf="
              registerFormControl.password.touched &&
              registerFormControl.password.errors?.required
            "
            >Password is required</span
          >
        </div>
        <div class="form-group">
          <label for="confirmPassword" class="mb-2">Confirm Password</label>
          <input
            formControlName="confirmPassword"
            type="password"
            class="form-control mb-4"
            name="confirmPassword"
            placeholder="Confirm Password"
            required
          /><span
            class="text-danger"
            *ngIf="
              registerFormControl.confirmPassword.touched &&
              registerFormControl.confirmPassword.errors?.required
            "
            >Password is required</span
          ><span
            class="text-danger"
            *ngIf="
              registerFormControl.confirmPassword.touched &&
              registerFormControl.confirmPassword.errors?.passwordMismatch
            "
            >Password doesnot match</span
          >
        </div>
        <div class="form-group">
          <label for="bio" class="mb-2">Personal Bio</label>
          <textarea
            formControlName="bio"
            type="text"
            class="form-control mb-4"
            name="bio"
            placeholder="Personal Bio"
            required
          ></textarea>
        </div>
        <p class="lead">
          Already a member? Please <a routerLink="/login">login</a> instead.
        </p>
        <button type="submit" class="btn btn-primary">Sign up!</button>
      </form>
    </div>
  </div>
</div>
