<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5 card p-5">
      <h1 class="form-sigin-heading text-center mb-4">Sign in</h1>
      <form [formGroup]="form" (submit)="login()">
        <div class="form-group">
          <label for="email" class="mb-2">Email Address</label>
          <input
            formControlName="email"
            type="email"
            class="form-control mb-4"
            name="email"
            placeholder="Enter email"
            required
          />
        </div>

        <div class="form-group">
          <label for="password" class="mb-2">Password</label>
          <input
            formControlName="password"
            type="password"
            class="form-control mb-3"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <p class="lead">
          Not a member? Please <a routerLink="/register">register</a>instead.
        </p>
        <button type="submit" class="btn sign-button">Sign In!</button>
      </form>
    </div>
  </div>
</div>
