<h3 class="my-5">Ask a question</h3>
<form [formGroup]="askQuestionForm" (submit)="askQuestion()">
  <label for="title" class="form-label">Title</label>
  <input
    formControlName="title"
    class="form-control"
    type="text"
    name="title"
    placeholder='Start your question with "What", "How", "Why", etc. '
    required
  />
  <label for="text" class="form-label">Text</label>
  <textarea
    formControlName="text"
    class="form-control"
    name="text"
    required
    rows="10"
    placeholder="Describe your question in brief to get accurate answer."
  ></textarea>
  <button type="submit" class="post-button">Post your question</button>
</form>

<!-- <form [formGroup]="askQuestionForm" (submit)="askQuestion()">
    <div class="form-group mb-3">
      <label for="question_title" class="form-label">Title</label>
      <input
        type="text"
        id="question_title"
        class="form-control"
        name="question_title"
        formControlName="question_title"
        placeholder='Start your question with "What", "How", "Why", etc. '
        required
      />
    </div>
    <div class="form-group mb-4">
      <label for="question_text" class="form-label"> Body </label>
      <textarea
        class="form-control"
        id="question_text"
        name="questioin_text"
        placeholder="Describe your question in brief to get accurate answer."
        rows="10"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <button type="submit">Save</button>
    </div>
  </form> -->
