.post-button {
  padding: 0.6rem 1.8rem;
  border-radius: 0.2rem;
  /* background-color: rgb(51, 51, 51); */
  background: linear-gradient(to right, rgb(74, 0, 224), rgb(142, 45, 226));
  color: #fff;
  background-size: 200% auto;
  transition: 1s;
}

button {
  outline: none;
  border: none;
}

button:hover {
  background-position: right;
}
