.user-profile {
  margin-top: 2%;
  margin-bottom: 2%;
}

.profile-img img {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
}

.bio-text {
  background: #f2f2f2;
  height: 8rem;
  border-radius: 12px;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}

.nav-tabs .nav-item {
  border-bottom: 4px solid;
}

.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid;
}
